* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header {


    background-image: url(./assets/images/design1_image1.jpg);
    margin-top: 100px;
    background-position: 10px -200px;


}

h1 {
    font-weight: bold;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    position: relative;
    top: -250px;
}

.caja-1 {
    width: 150px;
    position: relative;
    left: 60px;
    bottom: -350px;
    background-color: blueviolet;
}

h3 {
    font-weight: bold;
    font-size: 40px;
    border: black solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
    color: black
}

ul {
    list-style-type: none;


}

li {
    position: relative;
    color: negro;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    float: right;
    margin-right: 15px;
    padding: 0 4px;
    text-decoration: none;
    bottom: 310px;
    display: flex;
    flex-direction: column-reverse;

}




h4 {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    position: relative;
    padding: 10px;
}

p {
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    margin-left: 10px;
    margin-bottom: 10px;
}

.caja-2 {

    position: relative;
    bottom: -20px;
    margin-left: 300px;
}

section{
    position: relative;
    bottom: -20px;
    margin-left: 300px;
    padding: 10px;

}
dt{
    font-weight: bold;
    font-size:x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
dd{ font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    padding: 10px;
    

}
.reglas { 
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    display: flex;
   padding: 10px;
   text-align: right;
}
   
    
    

}