* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header {


    background-image: url(./assets/images/design1_image1.jpg);
    margin-top: 100px;
    background-position: 10px -200px;


}
.menu {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    background-color: blueviolet;
    position: relative;
    bottom: 200px;
    list-style-type: none;
    left: 200px;
    justify-content: flex-start;
}

h1 {
    font-weight: bold;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    position: relative;
    top: -250px;
}

.caja-1 {
    width: 150px;
    position: relative;
    left: 60px;
    bottom: -350px;
    background-color: blueviolet;
}
.menu{
    position: relative;
    color: negro;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    display: inline;
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
    margin: 0 10px 0 0;
    bottom: 300px;
    left: 600px;

   
    
}
.menu {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    background-color: blueviolet;
    position: relative;
    bottom: 200px;
    list-style-type: none;
    left: 200px;
    justify-content: flex-start;
}

h3 {
    font-weight: bold;
    font-size: 40px;
    border: black solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
    color: black
}



h4 {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    position: relative;
    padding: 10px;
    text-align: left;
}

p {
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    margin-left: 10px;
    margin-bottom: 10px;
}

.caja-2 {

    position: relative;
    bottom: -20px;
    margin-left: 300px;
}

section {
    position: relative;
    bottom: 20px;
    margin-left: 250px;
    padding: 10px;

}

dt {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

dd {
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    padding: 10px;


}

.reglas {
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    display: flex;
    padding: 10px;
    text-align: right;
    align-items: flex-start;

}
tr{
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    margin-left: 10px;
    margin-bottom: 10px;
}
table{
    padding: 40px 40px 40px;
    
}
table tr {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
  }
  table thead{
    background-color: orange;
 }
 table tbody{
    background-color: yellow;
 }
footer {
    display: flex;
    justify-content: flex-end;
    flex-grow: 5px;
    align-items: flex-start;
    margin-right: 15px;
    
  
}
.formulario{
    display: flex;
    justify-content: center;
    background-color: rgb(218, 218, 151);
   position: relative;
   height: 400px;
}
label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;

}
.btn {
    display: block;
    margin: 1em 0;
  }