* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-image: url(./assets/images/design1_image1.jpg);
    margin: top 0;
    background-position: 10px -200px;


}

h1 {

    font-weight: bold;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    bottom: 11rem;
}

.caja-1 {
    width: 150px;
    position: relative;
    left: 1200px;
    bottom: -170px;
    background-color: blueviolet;
}

h3 {
    font-weight: bold;
    font-size: 40px;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    color: antiquewhite;
   
}

li {
    font-weight: bold;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    bottom: -40px;
    line-height: 60px;
    display: flex;
    align-items: center;


}

h4 {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    position: relative;

}

p {
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    margin-left: 60px;
    margin-bottom: 30px;
}

.caja-2 {

    position: relative;
    bottom: 350px;
    margin-left: 300px;
}

section {
    position: relative;
    bottom: 630px;
    margin-left: 250px;
    padding: 10px;

}

dt {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

dd {
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    padding: 10px;


}

.reglas {
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    display: flex;
    padding: 10px;
    text-align: right;
    align-items: flex-start;

}
.tabla1{  position: relative;
    bottom: -300px;
    margin-left: -90px;
    padding: 10px;


  

}
tr {
    font-weight: bold;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    margin-left: 10px;
    margin-bottom: 10px;
}

table {
    padding: 230px 30px 30px;

}

table tr {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

table thead {
    background-color: orange;
}

table tbody {
    background-color: yellow;
}
footer{
    display: flex;
    justify-content: flex-end;
    
}

.formulario {
    display: flex;
    justify-content: center;
    background-color: rgb(233, 233, 79);
    position: relative;
    height: 390px;
    bottom: 470px;
    margin: 200px;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;

}

.btn {
    display: block;
    margin: 1em 0;
}
.reglas2{
    position: relative;
    bottom: -300px;
    margin-left: -80px;
    padding: 10px;
}
.titulo{
    position: relative;
    bottom: 400px;
    margin-left: 250px;
    padding: 10px;

}
.titulorules{
    position: relative;
    bottom: 350px;
    margin-left: 300px;
}

li a {
    padding: 2px 5px 2px 5px;
    color:white;
    background-color:black;
    border: 1px solid #cccccc;
    text-decoration: none;
    position: relative;
    bottom: 10px;
   

 }
 li a:hover{
    background-color: #d88820;
    color: #0c0101;
 }
